body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}
.app_main_container {
  margin: 10px auto;
  width: 1000px;
  display: block;
}
.app_container {
  height: 1100px;
  width: 900px;
  display: flex;
}
.drag_zone {
  height: 485px;
  width: 220px;
  margin: 0;
  border-style: groove;
}
.drop_zone {
  width: 700px;
  margin: 0;
  border-style: groove;
}
ul{
  list-style-type: none;
}
li{
  margin-bottom: 10px;
  font-size: 15px;
  border: 1px gray dashed;
  height: 25px;
  padding-top: 5px;
  padding-left: 8px;
  margin-right: 10px;
  margin-left: -32px;
  cursor: pointer;
  color: darkslategray;
  font-family: Arial, Helvetica, sans-serif;
}
.li_icon{
  padding-right: 15px;
  font-size: 14px;
  color: darkslategray;
}
